<!-- Global headers -->
<%- include('components/_head.ejs'); %>
<!-- Global headers -->

<!-- HTML app body -->
<div class="container">
  <!-- Pre game form -->
  <div class="card">
    <div class="card-body">
      <form class="needs-validation" action="/startQuiz" method="POST" novalidate>
        <div class="form-group">
          <label for="name" class="form-label">How you will be remembered...</label>
          <input
            id="formName"
            type="text"
            class="form-control"
            name="name"
            placeholder="your name goes here"
            required
          />
          <div class="invalid-feedback">
            please! don't be modest...a nickname may works as well...
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="category" class="form-label">Choose a difficult</label>
          <select id="formCategory" class="form-select" name="category" required>
            <option selected disabled value="">Pick up your category...</option>
            <option value="4">Easy: 4x4 Matrix</option>
            <option value="6">Medium: 6x6 Matrix</option>
            <option value="8">Hard: 8x8 Matrix</option>
          </select>
          <div class="invalid-feedback">
            sorry but we really need this information in order to set the game up
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Let's go!</button>
      </form>
    </div>
  </div>
</div>
<!-- HTML app body -->

<!-- Script section -->
<script></script>
<!-- Script section -->
<!-- Global footers -->
<%- include('components/_footer.ejs'); %>
<!-- Global footers -->